.body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #4C4E52;
  

}

.row{
 
  height: 30vh;
  width: 100%;
}

.color{
  margin-left:320px;
  height: 100px;
  width: 100px;

}

input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: aliceblue;
  height: 50px;
  
}

.color_choose{
  margin-top: 30px;
  display: flex;
  gap: 20px;
 
  height: 100px;
  justify-content: space-evenly;
}

.blue{
  background-color: blue;
  height: 40px;
  width: 40px;
}

.red{
  background-color: rgb(255, 0, 0);
  height: 40px;
  width: 40px;
}

.orange{
  background-color: rgb(255, 132, 0);
  height: 40px;
  width: 40px;
}
.brown{
  background-color: brown;
  height: 40px;
  width: 40px;
}
.green{
  background-color: green;
  height: 40px;
  width: 40px;
}
.beige{
  background-color: beige;
  height: 40px;
  width: 40px;
}
.coral{
  background-color: coral;
  height: 40px;
  width: 40px;
}
.yellow{
  background-color: yellow;
  height: 40px;
  width: 40px;
}
.purple{
  background-color: purple;
  height: 40px;
  width: 40px;
}
.maroon{
  background-color: maroon;
  height: 40px;
  width: 40px;
}